.content-tecno {
  width: var(--page-size);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.tecno {
  padding: 40px;
  background-color: var(--background-color-light-gray);
}

.tecno-title {
  color: var(--color-black-font-poppins);
  font-family: var(--poppins-font-family);
  font-size: 26px;
}